@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  font-family: 'Poppins', sans-serif;
}

.pointer {
  cursor: pointer;
}

.mh-300 {
  max-height: 300px;
}

.top-10 {
  top: 10px;
}

.border-gold {
  border-color: var(--gold) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1::before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--red);
  width: 50%;
  height: 2px;
}

h1::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  background-color: var(--red);
  width: 4px;
  height: 6px;
}

.ofertas h2 {
  color: #A71830;
}

button {
  border: 1px solid var(--gold);
}

.text-red {
  color: var(--red) !important;
}

.right-20 {
  right: 20px !important;
}

.bg-header {
  background: url('https://vinum-wine.s3.amazonaws.com/bgHeader.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.mw-120 {
  max-width: 120px;
}

.bg-gold {
  background-color: var(--gold);
}

.h-100vh {
  height: 100vh;
}

.zIndex-2 {
  z-index: 2 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
  transition: color 0.2s;
}

.bm-item:focus-visible {
  outline: none;
}

.scale {
  transition: .4s ease;
}

.scale:hover {
  transform: scale(1.04);
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #a82c41;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #a82c41;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.btn-gold {
  border: 1px solid var(--gold);
  transition: .3s ease;
}

.btn-gold:hover {
  border: 1px solid var(--gold);
  color: var(--gold);
  transform: scale(1.04);
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.card-group div { 
  cursor: pointer;
  transition: .4s ease;
}

.card-group div:hover { 
  transform: scale(1.04);
}

.card-title {
  margin-left: 20%;
}

.card-text {
  margin-top: 20%;
  margin-left: 20%;
}

.insideCard {
  margin-top: 20%;
  margin-left: 50%;
}


.screen_home {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cart {
  border: 1px solid #555;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 5px;
}

.btn-outline-gold {
  background-color: transparent;
  border: 1px solid #DD9F31 !important;
}
  .btn-outline-gold :focus,
  .btn-outline-gold :hover,
  .btn-outline-gold :active {
    background-color: rgba(#DD9F31) !important;
  
}

.catalogo, .inside{
  padding-top: 120px;
}
.bgCatalogo{
  margin-left: 170px;
  margin-top: 20px;
}


/* NAVBAR AQUI */

.sidebar{
  transform: translateX(-150%);
  height: 60vh;
  background-color: black;
  transition: solid;

}
.button-sidebar:focus + .sidebar{
  transform: translateX(0);
  padding-top: 100px;
}

.zIndex{
  z-index: 10 !important;
}

@media screen and (min-width: 767px) {
  .sidebar{
    transform: translateX(0) !important;
    height: fit-content;
    width: 100vw !important; 
  }
}


