.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1::before {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--red);
  width: 50%;
  height: 2px;
}

h1::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  background-color: var(--red);
  width: 4px;
  height: 6px;
}
.ofertas h2{
  color: #A71830;
}

button{
  border: 1px solid var(--gold);
}

.text-red {
  color: var(--red) !important;
}

.right-20 {
  right: 20px !important;
}


.bg-header {
  background: url('https://vinum-wine.s3.amazonaws.com/bgHeader.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subheader{
  background-color: var(--gold);
  width: 20%;
}

.h-100vh {
  height: 100vh;
}

.zIndex-2 {
  z-index: 2 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



